*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --column-number: 16;
}

body {
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: hsl(150, 1%, 30%);
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(var(--column-number), auto);
}

.piece {
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    width: 44px;
    height: 54px;
    cursor: pointer;
    visibility: visible;
    opacity: 2;
}

.piece.selected {
    opacity: 0.5;
}

.piece:hover {
    border: 3px solid red;
}